nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 71px;
    align-items: center;
    background-color: black;
    opacity: 50%;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid; color: whitesmoke;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    color: white;
}

.hero {
    background-image: url(../images/Firefly\ using\ a\ nice\ African\ pattern\,\ create\ a\ pile\ of\ books\ with\ the\ inscription\ \'S\ E\ G\ U\ A\ H\'\ 5488.jpg
    height: 100vh;
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
   display: flex;
   flex-direction: row;
   justify-items: center;
   align-items: center;
   font-size: xx-large;
}


.hero-info > * {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */

}

.text-white {
    color: white;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 30px;

}

.btn-black {
    background-color: #000;
    color: white;
    gap: 5px;
}

.btn-white {
    color: #000;
    background-color: white;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px;
    padding: 10px, 10px;
}

.col1 {
    display: flex;
    flex-direction: row;
}
.col2 {
    display: flex;
    flex-direction: row;
    
}
.col3 {
    display: flex;
    flex-direction: row;
    
}
.col4 {
    display: flex;
    flex-direction: row;
    
}

.first-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    height: 10px;
    width: 100vw;
    padding: 10px;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: auto;
    gap: 20px;
    padding-left: 20px;
    padding-right: 10px;

}

.started {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    background-color: black;
    opacity: 70%;
    color: white;
    width: 100vw;
    height: 50px;
    padding: 20px; 20px
    padding-top: 2px;
}

.images-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 20px;

}